.hero-image {
    width: 55%;
    min-width: 150px;
    height: auto;
    margin: auto -6rem;
}

.hero-title {
    font-family: 'Poppins';
    font-size: calc(1rem + 1.75vw);
    font-weight: bold;
}

.hero-text {
    font-size: calc(1rem + .25vw);
    width: 75%;
}

.hero-button {
    width: 30%;
    background-color: var(--cyan);
    border-radius: 1rem;
    color: white;
    font-family: 'Poppins';
    font-weight: 600;
}

.shorten-container {
    background: url('../assets/bg-shorten-desktop.svg');
    background-size:  cover;
    background-color: rgb(78, 41, 82);
    padding: 2rem;
    border-radius: .5rem;
    margin: 2rem auto;
}

.shorten-container > input {
    width: 78%;
    padding: .5rem;
    border-radius: .5rem;
    border: none;
    margin: 1rem 3rem;
}

.shorten-button {
    background-color: cyan;
    font-family: 'Poppins';
    font-weight: 600;
}

.statistics-container {
    width: 40%;
    min-height: 150px;
    text-align: center;
    margin: auto;
    flex-wrap: wrap;
}

.statistics-articles {
    display: flex;
    justify-content: space-around;
    min-height: 450px;
    margin: 1rem auto;
}

.boost-container {
    background-image: url('../assets/bg-boost-desktop.svg');
    background-color: rgb(78, 41, 82);
    padding: 1rem;
    border-radius: .5rem;
}

.boost-content {
    width: 50%;
    text-align: center;
    margin: auto;
    padding: 1rem;
    color: white;
}

