footer {
    background-color :black;
    color: white;
    height: auto;
    margin: auto;
    margin-top: 3rem;
    max-width: 1920px;
}

a:link {
    color: white;
}

.footer-link-container {
    display: flex;
    justify-content: space-around;
}

.footer-links {
    padding: 1rem;
    margin : 1rem .5rem;
}

.footer-social-container {
    width: 35%;
}